/* FONTS */
/* VARIABLES */
/* MIXIN */
/* MEDIA QUERY*/
/* GENERAL */
.clean-fix:before, .clean-fix:after {
  display: table;
  clear: both; }

/* Hero */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 24px; } }

.hero .hero-flex {
  display: flex;
  justify-content: space-around; }
  .hero .hero-flex .turn-left {
    display: flex;
    justify-content: center;
    opacity: 0;
    line-height: 47px;
    font-size: 32px; }
    .hero .hero-flex .turn-left .counter {
      display: inline-flex;
      width: 40px;
      justify-content: flex-end; }
  .hero .hero-flex .btn {
    margin-top: 6px; }
  @media (max-width: 768px) {
    .hero .hero-flex {
      flex-direction: column;
      align-items: center; } }

/* GAME */
.game .row {
  padding-top: 6px; }
  .game .row:last-of-type {
    padding-bottom: 132px; }
    .game .row:last-of-type .col-xs-9 {
      width: 100%;
      border-right: none; }

.color-place-container {
  border-right: 1px solid gray; }

.color-place {
  background-color: #ffffff;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid gray;
  transition: width ease 0.3s, height ease 0.3s; }
  @media (max-width: 768px) {
    .color-place {
      width: 20px;
      height: 20px; } }
  .color-place.active {
    height: 40px;
    width: 40px; }

.pick-color-container {
  display: none;
  position: absolute; }
  .pick-color-container .picked-color {
    float: left;
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    margin-right: 4px;
    border: 1px solid gray;
    border-radius: 3px; }
  .pick-color-container .cancel-pick {
    margin-left: 44px; }
  .pick-color-container .cross {
    position: relative;
    display: block;
    height: 2px;
    width: 41px;
    background: #000;
    margin: auto;
    left: 4px;
    transform-origin: 0; }
    .pick-color-container .cross.top {
      top: 3px;
      transform: rotate(45deg); }
    .pick-color-container .cross.bottom {
      top: 31px;
      transform: rotate(-45deg); }

.color-flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  @media (min-width: 1200px) {
    .color-flex-container {
      margin-left: 450px; } }
  @media (max-width: 1199px) {
    .color-flex-container {
      margin-left: 350px; } }
  @media (max-width: 991px) {
    .color-flex-container {
      margin-left: 200px; } }
  @media (max-width: 768px) {
    .color-flex-container {
      margin-left: 80px; } }
  @media (max-width: 475px) {
    .color-flex-container {
      margin-left: 0; } }
  .color-flex-container .btn-accept {
    margin-left: 10px; }

.btn-accept {
  height: 40px; }

/* Picking Color */
[data-color="red"] {
  background: #ff0000; }

[data-color="green"] {
  background: #00ff00; }

[data-color="blue"] {
  background: #0000ff; }

[data-color="yellow"] {
  background: #ffff13; }

[data-color="purple"] {
  background: #800080; }

[data-color="orange"] {
  background: #ff9600; }

/* ANSWERS */
.answers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; }
  @media (max-width: 768px) {
    .answers-container {
      height: 20px; } }

.answer {
  display: flex;
  justify-content: center;
  align-items: center; }

.answers {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block; }
  @media (max-width: 768px) {
    .answers {
      width: 13.3333333333px;
      height: 13.3333333333px; } }

.black, .white {
  border: 1px solid gray; }

.black {
  background: black; }

.you-win, .you-lose {
  font-size: 40px;
  color: blue; }

.you-lose {
  color: red; }

.game-over-flex {
  display: flex;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */